
!.gitignore
!LICENSE
!README.md


!ArmorVisibility-Fabric/
!ArmorVisibility-Fabric/src/
!ArmorVisibility-Fabric/src/**

!ArmorVisibility-Neoforge/
!ArmorVisibility-Neoforge/src/
!ArmorVisibility-Neoforge/src/**

!ArmorVisibility-Quilt/
!ArmorVisibility-Quilt/src/
!ArmorVisibility-Quilt/src/**

!ArmorVisibility-Fabric-26.1-26.2/
!ArmorVisibility-Fabric-26.1-26.2/src/
!ArmorVisibility-Fabric-26.1-26.2/src/**

!ArmorVisibility-Quilt-26.1-26.2/
!ArmorVisibility-Quilt-26.1-26.2/src/
!ArmorVisibility-Quilt-26.1-26.2/src/**


ArmorVisibility-*/gradle-8.10/
ArmorVisibility-*/*.zip
ArmorVisibility-*/build/
ArmorVisibility-*/run/
ArmorVisibility-*/bin/
ArmorVisibility-*/.gradle/
ArmorVisibility-*/.gradle-cache/
ArmorVisibility-*/.idea/
ArmorVisibility-*/.vscode/
ArmorVisibility-*/.run/
ArmorVisibility-*/out/
ArmorVisibility-*/target/
ArmorVisibility-*/gradle/
ArmorVisibility-*/gradle-*/
ArmorVisibility-*/minecraft/
ArmorVisibility-*/logs/
ArmorVisibility-*/crash-reports/
ArmorVisibility-*/*.log
ArmorVisibility-*/*.tmp
ArmorVisibility-*/*.bak
ArmorVisibility-*/*.swp
ArmorVisibility-*/*.swo
ArmorVisibility-*/*.zip
ArmorVisibility-*/local.properties
ArmorVisibility-*/**/.classpath
ArmorVisibility-*/**/.project
ArmorVisibility-*/**/.settings/
ArmorVisibility-*/**/.factorypath

!ArmorVisibility-Fabric/src/
!ArmorVisibility-Fabric/src/**
!ArmorVisibility-Neoforge/src/
!ArmorVisibility-Neoforge/src/**
!ArmorVisibility-Quilt/src/
!ArmorVisibility-Quilt/src/**
!ArmorVisibility-Fabric-26.1-26.2/src/
!ArmorVisibility-Fabric-26.1-26.2/src/**
!ArmorVisibility-Quilt-26.1-26.2/src/
!ArmorVisibility-Quilt-26.1-26.2/src/**
