# root files
README.md
LICENSE
.gitignore

# ignore everything in each module except src
ArmorVisibility-Fabric/*
ArmorVisibility-Fabric-26.1-26.2/*
ArmorVisibility-Neoforge/*
ArmorVisibility-Quilt/*
ArmorVisibility-Quilt-26.1-26.2/*

# keep source trees and root docs
!ArmorVisibility-Fabric/
!ArmorVisibility-Fabric/src/
!ArmorVisibility-Fabric/src/**

!ArmorVisibility-Fabric-26.1-26.2/
!ArmorVisibility-Fabric-26.1-26.2/src/
!ArmorVisibility-Fabric-26.1-26.2/src/**

!ArmorVisibility-Neoforge/
!ArmorVisibility-Neoforge/src/
!ArmorVisibility-Neoforge/src/**

!ArmorVisibility-Quilt/
!ArmorVisibility-Quilt/src/
!ArmorVisibility-Quilt/src/**

!ArmorVisibility-Quilt-26.1-26.2/
!ArmorVisibility-Quilt-26.1-26.2/src/
!ArmorVisibility-Quilt-26.1-26.2/src/**
