
!.gitignore
!LICENSE
!README.md


!ArmorVisibility-Fabric/
!ArmorVisibility-Fabric/src/
!ArmorVisibility-Fabric/src/**

!ArmorVisibility-Neoforge/
!ArmorVisibility-Neoforge/src/
!ArmorVisibility-Neoforge/src/**

!ArmorVisibility-Quilt/
!ArmorVisibility-Quilt/src/
!ArmorVisibility-Quilt/src/**


ArmorVisibility-*/gradle-8.10/
ArmorVisibility-*/*.zip
ArmorVisibility-*/build/
ArmorVisibility-*/run/
ArmorVisibility-*/bin/
