.gradle/
.gradle-cache/
build/
out/
bin/
target/
.idea/
*.iml
.vscode/
.run/
run/
local.properties
*.log
*.tmp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db


minecraft/
logs/
crash-reports/


**/.classpath
**/.project
**/.settings/
**/.factorypath


!src/
!src/**
!gradle/
!gradle/**
!settings.gradle
!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
!fabric.mod.json
!src/main/resources/**
